streamlit
watchdog
langchain
langchain-community
langchain-openai
langgraph
chromadb
pydantic
python-dotenv
langchain-groq
sympy

paddleocr
pillow
easyocr

faster-whisper

sentence-transformers
faiss-cpu